<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Address BooK</h1>

			<div class="boxHeader">
				<div class="row">
					<div class="col-sm-7">
						<div class="input-group mainSearchFilter">
					      <input type="text" class="form-control" placeholder="Search by Name, Company or #Tag">
					    </div><!-- /input-group -->
					</div>
					<div class="col-sm-5">
					dfsdf
					</div>
				</div>
			</div>

			<div class="boxContent">
				<div class="row">
					<div class="col-sm-7">
						<div class="contactList">
							<div class="contactListItem">
								<header>
									<div class="media"> 
										<div class="media-body"> 
											<h4 class="media-heading">Media heading</h4>
											<p>Director at Sample Company</p>
										</div>
										<div class="media-right"> some text</div> 
									</div>
									<div class="tags">
										<span class="tag label label-info">Washington </span>
									</div>
								</header>
							</div>

							<div class="contactListItem">
								<header>
									<div class="media"> 
										<div class="media-body"> 
											<h4 class="media-heading">Media heading</h4>
											<p>Director at Sample Company</p>
										</div>
										<div class="media-right"> some text</div> 
									</div>
									<div class="tags">
										<span class="tag label label-info">Washington </span>
									</div>
								</header>
							</div>

							<div class="contactListItem">
								<header>
									<div class="media"> 
										<div class="media-body"> 
											<h4 class="media-heading">Media heading</h4>
											<p>Director at Sample Company</p>
										</div>
										<div class="media-right"> some text</div> 
									</div>
									<div class="tags">
										<span class="tag label label-info">Washington </span>
									</div>
								</header>
							</div>

							<div class="contactListItem">
								<header>
									<div class="media"> 
										<div class="media-body"> 
											<h4 class="media-heading">Media heading</h4>
											<p>Director at Sample Company</p>
										</div>
										<div class="media-right"> some text</div> 
									</div>
									<div class="tags">
										<span class="tag label label-info">Washington </span>
									</div>
								</header>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
					<div class="contentDetailSection">
					<router-outlet></router-outlet>
						<div class="singleItem">
							<h2>Susan Smith</h2>
							<ul>
								<li><strong>Phone:</strong> 000</li>
								<li><strong>Email:</strong> susan@scompany2.com</li>
								<li><strong>LinkedIn:</strong> http://LinkedIN.com/Sue</li>
								<li><strong>Skype:</strong> SusanS</li>
							</ul>
						</div>
					</div>
						
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


